html, body {
  height: 100%;
  width: 100%;
  margin:0
  /* background-color: balck;
  color: white */
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#sidebar{
  background:balck;
  width: 200px;
  height: 100%
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  
}



/* #sidebar {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
} */
